<div align="center">
	<h5>Current Session ID</h5>
	<h5 style="font-weight: 800;">'{{sessionID}}'</h5>
</div>
<a href="/channel/leave?channelID={{sessionID}}&participantID={{participantID}}"><button id="leave-button">Leave</button></a>