<h2 id="name" style="font-family: 'Pacifico', cursive;" align="center">Welcome!</h2>
<div class="container login-container">
	<div class="card">
		<div class="card-content">
			<h5>Enter the Session ID</h5>
			<br>
			<input type="text" placeholder="ABC123" required style="text-transform: uppercase;" id="session-id"
				maxlength="6" onkeypress="return isNumberKey(event)">
			<br><br>
			<button id="join-button" onclick="join()">Join</button>
		</div>
	</div>
</div>