<h2 style="font-family: 'Pacifico', cursive;">Graphle</h2>
<div class="section">
	<p class="lead">Login to get started with Graphle</p>
</div>
<div class="divider"></div>
<br>
<div class="section">
	<a href="/auth/google" class="btn red darken-1">
		<i class="fab fa-google left"></i> Login with Google
	</a>
</div>